.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* App.css */

.button-increase {
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .button-increase:hover {
    background-color: #45a049;
  }
  
  .button-decrease {
    background-color: #f44336; /* Red */
    color: white;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .button-decrease:hover {
    background-color: #da190b;
  }
  
  .button-delete {
    background-color: #555; /* Dark gray */
    color: white;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .button-delete:hover {
    background-color: #333;
  }

  .button-increase, .button-decrease, .button-delete {
    border-radius: 50%; /* This will make the buttons round */
    width: 60px; /* You need to specify a width... */
    height: 60px; /* ...and a height for the border-radius to take effect */
}